html, body {
    margin: 0;
    padding: 5;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
     
#map {
    width: 100%;    /* Adjust width to your desired size */
    height: 100%;   /* Adjust height to your desired size */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
    border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
    position: absolute; /* Allows z-index to work */
    z-index: 1; /* Puts SVG above the map */
    width: 100%; /* Full map width */
    height: 100%; /* Full map height */
    pointer-events: none; /* Prevents blocking map interactions */
}

circle {
    pointer-events: auto;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
    );
    fill: var(--color);
}

header {
    display: flex;
    gap: 1em;
    align-items: baseline;
    margin-bottom: 1em;
    
}

label {
    display: block;
    margin-left: auto;
}

input[type="range"] {
    width: 500px;
    cursor: pointer;
}

time {
    display: block;
    font-weight: bold;
    text-align: right;
}

em {
    display: block;
    color: gray;
    font-style: italic;
    text-align: right;
}

.legend {
    display: flex;
    justify-content: space-between;
    margin-block: 20px; /* Adds space between the map and the legend */
  }
  
  .legend div {
    flex: 1;
    height: 20px; /* Adjust based on your preference */
    background-color: var(--color-departures); /* Set to dynamic color */
    padding: 10px;
    text-align: center;
    color: white; /* Make sure text is readable */
    font-size: 12px;
  }
  
  .legend div:nth-child(1) {
    background-color: hsl(212, 80%, 51%); /* Blue for More Departures with 70% opacity */
  }
  
  .legend div:nth-child(2) {
    background-color: rgba(128, 0, 128, 0.60); /* Purple for Balanced with 70% opacity */
  }
  
  .legend div:nth-child(3) {
    background-color: rgba(255, 165, 0, 0.85); /* Orange for More Arrivals with 70% opacity */
  }
  